<div>
    <div class="d-flex flex-sm-row flex-column bg-secondary justify-content-between p-1">
        <span class="text-lg text-start text-black h4">Find Me:</span>
        <button class="btn btn-outline-info">
      Github <i class="fas fa-facebook-f"></i>
    </button>
        <button class="btn btn-outline-info">Facebook</button>
        <button class="btn btn-outline-info">Linkedin</button>
        <button class="btn btn-outline-info">Instagram</button>
    </div>
    <div class="d-flex flex-sm-row flex-column justify-content-between px-5">
        <div>
            <h5>Masum Khan</h5>
            <span class="mark">Full Stack Developer (MERN/PERN)</span>
            <img class="rounded-pill d-block float-left mx-auto img-fluid h-25" src="https://media-exp1.licdn.com/dms/image/C5603AQGVhTn0cvkcRw/profile-displayphoto-shrink_800_800/0/1661930138028?e=2147483647&v=beta&t=eOwHOZQG1XdsGw2u5S0BP_xb438QudkAgTj33ttcShQ"
                alt="..." class="img-thumbnail" />
        </div>

        <div>
            <h5>contact and info</h5>
            <ul class="list-unstyled">
                <li>Mobile: 0183334784cxx xcvxcv8</li>
                <li>Mobile: 01833347848</li>
                <li>Mobile: 01833347848</li>
                <li>Mobile: 01833347848</li>
            </ul>
        </div>
        <div>
            <h5>My Works</h5>
            <ul class="list-unstyled">
                <li>
                    Project :
                    <span class="lead">sdsdgsdgsdssxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span
          >
        </li>
        <li>Project : <span class="lead">sdsdgsdgsdss</span></li>
                <li>Project : <span class="lead">sdsdgsdgsdss</span></li>
            </ul>
        </div>
    </div>
    <button>
    sss<i class="fa fa-facebook-official"></i>
    <i class="fa fa-address-card" aria-hidden="true"></i>
    <i class="fas fa-linkedin-in"></i> <i class="fas fa-linkedin"></i>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fas fa-github"></i>

    <i class="fa fa-instagram" aria-hidden="true"></i>
  </button>
    <button class="btn">
    <i class="fas fa-instagram" aria-hidden="true"></i>
  </button>
    <i class="fa fa-car" aria-hidden="true"></i>
    <button class="btn">
    <i class="fa-facebook-messenger" aria-hidden="true"></i>
  </button>
</div>