<div class="mt-5 ps-5 ">
    <span class="h5 border-info border-1 border-bottom rounded">A verification mail has been sent to <span
            class=" mark ">
            <%= email %>
        </span>
        <br>
        <span class="text-start">Please check spam folder too</span>
</div>
