<div class="mt-5  ">
    <span class="badge shadow-sm bg-dark bg-opacity-10 border-1 border-bottom rounded text-dark">
        <%= msg %>
            <%if(loggedin==true){%> You may <a href="/auth" class="fs-5">login</a> now. <%}%>
    </span>
</div>
